---
import BaseLayout from "../layouts/BaseLayout.astro"
import BlogPost from "../components/BlogPost.astro"
import Torch from "../components/Torch.astro"
import Tag from "../components/Tag.astro"

let allPosts = await Astro.glob('../pages/posts/*.md');
allPosts = allPosts.sort(
        (a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
const tags = [...new Set(allPosts.map((post) => post.frontmatter.tags).flat())]
---


<BaseLayout title="Code Dungeon's Blog">
    <Torch title="The Blog" />
    <div class="grid grid-cols-6 gap-4 w-full md:px-20">
      <section class="lg:col-span-4 col-span-6">
        {
          allPosts.map(post => <BlogPost 
            title={post.frontmatter.title} 
            intro={post.frontmatter.description}
            pubDate={post.frontmatter.pubDate} 
            tags={post.frontmatter.tags} 
            url={`${post.url}`} />)
        }
      </section>
      <section class="lg:col-span-2 col-span-6 text-center">
        <span class="text-xl">Tags</span>
        
        <div class="flex flex-wrap space-x-2">
          {
            tags.map((tag) => (
                <Tag tagName={tag} url={`/tags/${tag}`} />
            ))
          }
        </div>
      </section>
    </div>
    
</BaseLayout>
