---
import BaseLayout from "../layouts/BaseLayout.astro"
import ProfileHeader from "../components/ProfileHeader.astro"
import ProfileTech from "../components/ProfileTech.astro"
import Card from "../components/Card.astro"
import { projects } from "../scripts/projects"
---


<BaseLayout title="Professional Profile">
  <ProfileHeader />
  <h1 class="my-8 text-xl">Tech I've worked with professionaly:</h1>
  <ProfileTech />
  <h1 class="text-xl my-16">Some of my work:</h1>
  <section class="grid grid-cols-1 lg:grid-cols-2 gap-12">
    {
      projects.map(project => {
       return (
        <Card 
          image={project.image} 
          altText={project.altText}
          projectName={project.projectName}
          description={project.description}
          techUsed={project.techUsed}
          link={project.link}
          linkType={project.linkType}
        /> 
       ) 
      })
    }
  </section>
</BaseLayout>
