---
import { Icon } from 'astro-icon'

export interface Props {
	image: string
	altText: string
	projectName: string
	description: string
	techUsed: string[]
	link: string
	linkType: ("repo" | "store" | "broken")
	linkAltText: string
}

const linkIcon = {
    'repo': "github",
    'store': "googleplay",
    'broken': "skull"
}

const { image, altText, projectName, description, techUsed, link, linkType, linkAltText } = Astro.props
---
<div class="relative">
	<div class="absolute -inset-0.5 opacity-75 bg-matrix_green rounded blur"></div>
    <div class="relative max-w-sm rounded overflow-hidden bg-matrix_black">
    	<img src={image} alt={altText} >	
    	<div class="px-6 py-4 mb-6">
    		<h1 class="text-xl mb-2">{projectName}</h1>	
    		<p class="text-base mb-2">{description}</p>
			<p>Tech: {techUsed.join(" | ")}</p>
    	</div>
		<div class="px-6 pb-2 flex justify-around items-end">
			<p>Link:</p>
			<a href={link}><Icon class="h-7" name={linkIcon[linkType]} /></a>
		</div>
    </div>
</div>
